.collapsible-body p{
    padding:10px;
}
.memberslist{
    padding: 0 20px;
}

.user_details{
    padding: 10px;
}

.user_details > span{
    padding:5px 0;
    display: inline-block;
}

.resourceFile{
    position: relative;
}
.resourceFile > span{
    padding-left: 16px;
}
.filetypeIcon{
    position: absolute;
    top:2px;
    font-size: 12px;
}