<div class="col s12">
    <div id="searchBox">
        <form class="col s12" name="searchProjectForm" [formGroup]="searchProjectForm" novalidate>
            <div class="input-field">
                <i class="material-icons prefix">search</i>
                <input list="results" id="search" type="text" name="searchTerm" formControlName="searchTerm" (keyup.enter)="goToProject()" />
                <label for="search">Search Project</label>
            </div>
            <datalist id="results">
                <option *ngFor="let project of autoCompleteResults" value="{{project.projectName}}:{{project.projectId}}">
            </datalist>
        </form>
        
    </div>
</div>

<div class="col s12">
    <h4>Newly added Projects</h4>
    <div class="recent-projects">
        <div class="row">
            <div class="col s12 m3" *ngFor="let project of recentProjects">
                <div class="card-panel amber waves-effect waves-light">
                    <div class="white-text">
                        <h5><a [routerLink]="['/project', project.projectId]"><b class="blue-text">{{project.projectName}}</b><br></a></h5>
                        <i>Created on : {{project.createdAt | date:'medium'}}</i>
                        <p>Manager : {{project.projectManager.empName}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>