<div class="col s12 m12 l4 offset-l4">
    <div class="card blue-grey darken-1">
    <div class="card-content white-text">
        <span class="card-title">{{cardTitle}}</span>
        <div class="row">
            <form class="col s12" [formGroup]="fpForm" novalidate>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="emailid" type="email" class="validate" name="emailid" formControlName="email" />
                        <label for="emailid">{{lbl_email_field}}</label>
                    </div>
                    <div class="col s12" [hidden]="fpForm.controls.email.valid || fpForm.controls.email.pristine">
                        <div class="col s12 error" [hidden]="!fpForm.controls.email.errors?.required">email ID is required</div>
                        <div class="col s12 error" [hidden]="!fpForm.controls.email.errors?.validateEmail">Invalid email ID</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-action">
        <div class="row">
            <button class=" col s6 m3 waves-effect waves-light btn blue darken-1" [disabled]="fpForm.invalid" (click)="sendEmail()">Submit</button>
            <a class="col s6 m4 offset-m1"  style="margin-top:15px;" routerLink="/login">{{lbl_goToLoginPage_link}}</a>
        </div>
        
    </div>
    </div>
</div>