<div class="col s12 m8 offset-m2">
    <div class="card blue-grey darken-1">
    <div class="card-content white-text">
        <span class="card-title">{{cardTitle}}</span>
        <div class="row">
            <form class="col s12" [formGroup]="loginForm" novalidate>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" [class.invalid]="!loginForm.controls.username.valid && !loginForm.controls.username.pristine"
                         type="text" class="validate" name="username" formControlName="username" />
                        <label for="username">{{lbl_username_field}}</label>
                    </div>
                    <div class="col s12" [hidden]="loginForm.controls.username.valid || loginForm.controls.username.pristine">
                        <div class="col s12 error" [hidden]="!loginForm.controls.username.errors?.required">Username is required</div>
                        <div class="col s12 error" [hidden]="!loginForm.controls.username.errors?.validateUserName">Invalid username</div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" [class.invalid]="!loginForm.controls.password.valid && !loginForm.controls.password.pristine"
                         type="password" class="validate" name="password" formControlName="password" />
                        <label for="password">{{lbl_password_field}}</label>
                    </div>
                    <div class="col s12" [hidden]="loginForm.controls.password.valid || loginForm.controls.password.pristine">
                        <div class="col s12 error" [hidden]="!loginForm.controls.password.errors?.required">password is required</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-action">
        <button class="waves-effect waves-light btn blue darken-1" [disabled]="loginForm.invalid" (click)="login()">{{btn_login_text}}</button>
        &nbsp;&nbsp;&nbsp;<a routerLink="/forgotpassword">{{lbl_forgotpassword_link}}</a>&nbsp;&nbsp;<a routerLink="/register">{{lbl_register_link}}</a>
    </div>
    </div>
</div>