<div class="container">
    <div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title">Login</span>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                        <input id="empid" type="text" class="validate">
                        <label for="empid">Employee ID</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-action">
            <button class="waves-effect waves-light btn blue darken-1">Login</button>
            &nbsp;&nbsp;&nbsp;<a href="#/forgotpassword">Forgot password?</a>
        </div>
        </div>
    </div>
    </div>
</div>
