<div class="container-fluid">
    <!--<div class="row">
        <div class="col s12">
            <nav>
                <div class="nav-wrapper">
                <a routerLink="/home" class="brand-logo">Project Bean</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/logout">Logout</a></li>
                    
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="/logout">Logout</a></li>
                    
                </ul>
                </div>
            </nav>
        </div>-->
        <router-outlet></router-outlet>
    </div>
</div>
